@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Happiness-Sans-Title';
}

body{
    background-image: url('/img/signup_bg.jpg');
}

.signupbox{
    background-color: white; /* 배경색 */
    margin-top:15%; /* 바깥여백 */
    border-radius:15px; /* 둥근 모서리 */
    box-shadow:5px 5px 5px 5px gray; /* 그림자 */
    opacity: 0.9; /* 투명도 */
}

.signupbtn{
    background-color: #eaa592 !important;   /* !important : 부트스트랩 충돌시 우선순위 설정 */
    color: white !important;
}

.naverbtn{
     background-color: #02c759 !important;   /* !important : 부트스트랩 충돌시 우선순위 설정 */
     color: white !important;
}

.kakaobtn{
    background-color: #fae100 !important;   /* !important : 부트스트랩 충돌시 우선순위 설정 */
    color: black !important;
}