<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오목</title>
    <style>
 td {
 border: 1px solid black;
 width: 24px;
 height: 24px;
 text-align: center;
 }
 </style>

</head>
<body>

    <h1>오목</h1>
    <div>
        <span id="p1" style="background-color:red;">player1: O</span>, <span id="p2">player2:X</span>
    </div>

    <button onclick="restart()">재시작</button>

    <div id="gameboard"></div>
    <div id="truncheck">player1 차례입니다.</div>



    <script type="text/javascript" src="/js/index.js"></script>


</body>
</html>