<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div th:replace="header.html::header"></div>

    <div class="main_img">
        <div class="main_img_title">
            <div class="img_title">전국 최대 부동산 직거래</div>
            <span>E</span>
            <span>z</span>
            <span>e</span>
            <span>n</span>
            <span>부</span>
            <span>동</span>
            <span>산</span>
        </div>
    </div>

    <div class="container">
        <h5>최근에 등록된 매물</h5>
        <h5>최근에 거래된 매물</h5>
        <h5>가장 인기있는 매물</h5>
        <h5>부동산 최신 뉴스</h5>
        <div id="weatherbox">
            날씨 크롤링 해서 넣는곳
        </div>
        <div id="newsbox">
            뉴스 크롤링 해서 넣는곳
        </div>
    </div>


    <div th:replace="footer.html::footer"></div>


    <!-- <p th:text="${data}"></p>
        <p th:text="${data.name}"></p>
        <p th:text="${data.amount}"></p>-->

    <!--<p>인증 세션 확인</p>-->
    <!-- 타임리프에서 인증세션 호출을 위한 라이브러리 필요-->
    <!-- 인증 객체 호출 -->
    <!--<p th:text="${#authentication.principal}"></p>-->
    <!-- 인증 객체 이름 호출 -->
    <!--<p th:text="${#authentication.name}"></p>-->
    <!-- 인증된 권한[ROLE] 확인 -->
    <!--<p th:text="${#authentication.authorities}"></p>-->

    <script src="/js/main.js"></script>
</body>
</html>